pipeline:
  name: "generic_kmeans_then_xgboost"
  steps:
    - id: "load_data"
      type: "data_loader"
      enabled: true

    # Stage 2: Preprocessing
    - id: "preprocess"
      type: "preprocessor"
      log_artifact: true      # Bật cơ chế Discovery
      artifact_type: "preprocess" # Gắn nhãn cho MLflowManager
      enabled: true
      depends_on: ["load_data"]
      is_train: true

    - id: "impute_nan"
      type: "generic"
      enabled: true
      log_artifact: true      # Bật cơ chế Discovery
      artifact_type: "preprocess" # Gắn nhãn cho MLflowManager
      depends_on: ["preprocess"]
      class_path: "sklearn.impute.SimpleImputer"
      hyperparams:
        strategy: "mean" # Hoặc "median", "most_frequent"
      run_method: "fit_transform"
      wiring:
        inputs:
          X: "preprocessed_data"
        outputs:
          output: "imputed_data"

    - id: "kmeans_features"
      type: "generic"
      enabled: true
      log_artifact: true
      artifact_type: "model"  # Gắn nhãn model chính
      depends_on: ["impute_nan"]
      class_path: "sklearn.cluster.KMeans"
      run_method: "fit_predict"
      hyperparams:
        n_clusters: 5
        max_iter: 100
      wiring:
        inputs:
          X: "imputed_data"
        outputs:
          labels: "cluster_labels"

    - id: "cluster_profiling"
      type: "profiling"
      enabled: true
      depends_on: ["kmeans_features"]
      params:
        include_keys: ["cluster_labels"]

    - id: "xgboost_model"
      type: "trainer"
      log_artifact: true
      artifact_type: "model"  # Gắn nhãn model chính
      enabled: true
      depends_on: ["kmeans_features"]
      output_as_feature: true
      wiring:
        inputs:
          data: "preprocessed_data"
        outputs:
          model: "xgb_model"
          datamodule: "xgb_datamodule"
          features: "xgboost_prediction"

    - id: "evaluate"
      type: "evaluator"
      enabled: true
      depends_on: ["xgboost_model"]
      model_step_id: "xgboost_model"
      wiring:
        inputs:
          model: "xgb_model"
          datamodule: "xgb_datamodule"
        outputs:
          metrics: "evaluation_metrics"

    - id: "log_results"
      type: "logger"
      enabled: true
      depends_on: ["evaluate"]
