apiVersion: v1
kind: Service
metadata:
  name: ml-prediction-service
  labels:
    app: ml-prediction
spec:
  type: ClusterIP
  selector:
    app: ml-prediction
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 8000
