pipeline:
  name: dynamic_adapter_train_eval
  steps:
  - id: load_data
    type: data_loader
    enabled: true
  - id: init_artifacts
    type: mlflow_loader
    enabled: true
    alias: latest
    load_map:
    - step_id: kmeans_features
      context_key: fitted_kmeans_features
    - step_id: xgboost_model
      context_key: fitted_xgboost_model
    - step_id: preprocess
      context_key: fitted_preprocess
    - step_id: impute_nan
      context_key: fitted_impute_nan
  - id: preprocess
    type: preprocessor
    log_artifact: true
    artifact_type: preprocess
    enabled: true
    depends_on:
    - init_artifacts
    - load_data
    is_train: false
    alias: latest
    instance_key: fitted_preprocess
  - id: impute_nan
    type: dynamic_adapter
    enabled: true
    depends_on:
    - init_artifacts
    - preprocess
    class_path: sklearn.impute.SimpleImputer
    run_method: fit_transform
    wiring:
      inputs:
        X: preprocessed_data
      outputs:
        output: imputed_data
    is_train: false
    instance_key: fitted_impute_nan
  - id: xgboost_evaluate
    type: evaluator
    enabled: true
    depends_on:
    - init_artifacts
    - preprocess
    wiring:
      inputs:
        features: preprocessed_data
        model: fitted_xgboost_model
        targets: target_data
      outputs:
        metrics: xgboost_metrics
  - id: cluster_profiling
    type: profiling
    enabled: true
    depends_on:
    - xgboost_evaluate
    params:
      include_keys:
      - cluster_labels
    exclude_keys:
    - cfg
    - preprocessor
    - df
    - train_df
    - val_df
    - test_df
  - id: log_results
    type: logger
    enabled: true
    depends_on:
    - xgboost_evaluate
