pipeline:
  name: dynamic_adapter_train_serve
  steps:
  - id: init_artifacts
    type: mlflow_loader
    enabled: true
    alias: latest
    load_map:
    - step_id: kmeans_features
      context_key: fitted_kmeans_features
    - step_id: xgboost_model
      context_key: fitted_xgboost_model
    - step_id: preprocess
      context_key: fitted_preprocess
    - step_id: impute_nan
      context_key: fitted_impute_nan
  - id: preprocess
    type: preprocessor
    log_artifact: true
    artifact_type: preprocess
    enabled: true
    depends_on:
    - init_artifacts
    is_train: false
    alias: latest
    instance_key: fitted_preprocess
  - id: impute_nan
    type: dynamic_adapter
    enabled: true
    artifact_type: preprocess
    depends_on:
    - init_artifacts
    - preprocess
    class_path: sklearn.impute.SimpleImputer
    run_method: fit_transform
    wiring:
      inputs:
        X: preprocessed_data
      outputs:
        output: imputed_data
    is_train: false
    instance_key: fitted_impute_nan
  - id: xgboost_model_inference
    type: inference
    enabled: true
    depends_on:
    - init_artifacts
    - impute_nan
    output_as_feature: true
    wiring:
      inputs:
        model: fitted_xgboost_model
        features: preprocessed_data
      outputs:
        predictions: xgboost_model_predictions
  - id: final_profiling
    type: profiling
    enabled: true
    depends_on:
    - xgboost_model_inference
    exclude_keys:
    - cfg
    - preprocessor
    - df
    - train_df
    - val_df
    - test_df
