preprocessing:
  steps:
  - name: fill_missing
    method: ffill
  - name: normalize
    method: zscore
  split:
    train: 0.6
    val: 0.2
    test: 0.2
  artifacts_dir: mlproject/artifacts/preprocessing
model_registry:
  nlinear:
    module: mlproject.src.models.nlinear_wrapper
    class: NLinearWrapper
    datamodule_type: dl
  tft:
    module: mlproject.src.models.tft_wrapper
    class: TFTWrapper
    datamodule_type: dl
  xgboost:
    module: mlproject.src.models.xgboost_wrapper
    class: XGBWrapper
    datamodule_type: ml
  catboost:
    module: mlproject.src.models.catboost_wrapper
    class: CatBoostWrapper
    datamodule_type: ml
  kmean:
    module: mlproject.src.models.kmean_wrapper
    class: KMeansWrapper
    datamodule_type: ml
training:
  batch_size: 16
  num_workers: 0
  n_epochs: 2
  lr: 0.001
  device: cpu
  artifacts_dir: mlproject/artifacts/models
evaluation:
  type: timeseries
  horizon: 24
  metrics:
  - mae
  - mse
  - smape
  save_predictions: false
  output_dir: mlproject/results
mlflow:
  tracking_uri: mlruns
  experiment_name: timeseries_forecasting
  run_name_prefix: exp
  enabled: true
  registry:
    enabled: true
    model_name: ts_forecast_model
  artifacts:
    log_model: true
    log_scaler: true
    log_config: true
    log_metrics: true
    log_plots: false
  autolog:
    enabled: true
    log_models: true
    log_input_examples: true
    log_model_signatures: true
defaults:
- ../base/preprocessing.yaml
- ../base/model.yaml
- ../base/training.yaml
- ../base/evaluation.yaml
- ../base/mlflow.yaml
- ../base/tuning.yaml
data:
  path: mlproject/data/ETTh1.csv
  index_col: date
  target_columns:
  - HUFL
  - MUFL
  features:
  - HUFL
  - MUFL
  - mobility_inflow
  return_type: pandas
  type: timeseries
experiment:
  name: xgboost
  type: timeseries
  model: xgboost
  model_type: ml
  hyperparams:
    input_chunk_length: 24
    output_chunk_length: 6
    n_targets: 2
    type: regression
    args:
      n_estimators: 20
      max_depth: 3
      learning_rate: 0.1
      objective: reg:squarederror
      early_stopping_round: 15
pipeline:
  name: xgboost_serve
  steps:
  - id: preprocess
    type: preprocessor
    enabled: true
    is_train: false
    alias: latest
  - id: load_model
    type: model_loader
    enabled: true
    depends_on:
    - preprocess
    alias: latest
  - id: inference
    type: inference
    enabled: true
    depends_on:
    - preprocess
    - load_model
    model_step_id: load_model
_generated:
  source: ./mlproject/configs/experiments/etth3.yaml
  type: serve
  alias: latest
