pipeline:
  name: kmeans_then_xgboost_tune
  description: Two-stage pipeline with clustering profiling
  steps:
  - id: load_data
    type: data_loader
    enabled: true
  - id: preprocess
    type: preprocessor
    enabled: true
    log_artifact: true
    artifact_type: preprocess
    depends_on:
    - load_data
    is_train: true
  - id: prepare_data
    type: datamodule
    depends_on:
    - preprocess
    wiring:
      inputs:
        features: preprocessed_data
        targets: target_data
      outputs:
        datamodule: prepare_data_datamodule
  - id: tune_kmeans_features
    type: tuner
    enabled: true
    depends_on:
    - prepare_data
    target_model_id: kmeans_features
  - id: kmeans_features
    type: clustering
    enabled: true
    log_artifact: true
    artifact_type: model
    depends_on:
    - tune_kmeans_features
    - prepare_data
    model_name: kmean
    output_as_feature: true
    hyperparams:
      n_clusters: 5
      max_iter: 100
    wiring:
      inputs:
        datamodule: prepare_data_datamodule
      outputs:
        features: cluster_labels
        model: kmeans_model
    use_tuned_params: true
    tune_step_id: tune_kmeans_features
  - id: cluster_profiling
    type: profiling
    enabled: true
    depends_on:
    - kmeans_features
    include_keys:
    - cluster_labels
    - kmeans_model
  - id: tune_xgboost_model
    type: tuner
    enabled: true
    depends_on:
    - prepare_data
    target_model_id: xgboost_model
  - id: xgboost_model
    type: trainer
    enabled: true
    log_artifact: true
    artifact_type: model
    depends_on:
    - tune_xgboost_model
    - prepare_data
    output_as_feature: true
    wiring:
      inputs:
        datamodule: prepare_data_datamodule
    use_tuned_params: true
    tune_step_id: tune_xgboost_model
  - id: evaluate
    type: evaluator
    enabled: true
    depends_on:
    - xgboost_model
    wiring:
      inputs:
        datamodule: prepare_data_datamodule
        model: xgboost_model_model
      outputs:
        metrics: evaluation_metrics
  - id: final_profiling
    type: profiling
    enabled: true
    depends_on:
    - evaluate
    - cluster_profiling
    exclude_keys:
    - cfg
    - preprocessor
    - df
    - train_df
    - val_df
  - id: log_results
    type: logger
    enabled: true
    depends_on:
    - evaluate
    - final_profiling
