pipeline:
  name: nested_suppipeline_tune
  steps:
  - id: load_data
    type: data_loader
    enabled: true
  - id: feature_pipeline
    type: sub_pipeline
    enabled: true
    depends_on:
    - load_data
    isolated: false
    pipeline:
      steps:
      - id: normalize
        type: preprocessor
        is_train: true
        log_artifact: true
        artifact_type: preprocess
        wiring:
          inputs:
            df: df
            train_df: train_df
            test_df: test_df
          outputs:
            data: normalized_data
      - id: tune_cluster
        type: tuner
        enabled: true
        depends_on:
        - normalize
        target_model_id: cluster
      - id: cluster
        type: clustering
        depends_on:
        - tune_cluster
        - normalize
        model_name: kmean
        log_artifact: true
        artifact_type: model
        output_as_feature: true
        hyperparams:
          n_clusters: 4
        wiring:
          inputs:
            data: normalized_data
          outputs:
            features: cluster_features
            model: cluster_model
        use_tuned_params: true
        tune_step_id: tune_cluster
  - id: prepare_data
    type: datamodule
    depends_on:
    - feature_pipeline
    wiring:
      inputs:
        features: preprocessed_data
        targets: target_data
      outputs:
        datamodule: prepare_data_datamodule
  - id: tune_train_model
    type: tuner
    enabled: true
    depends_on:
    - feature_pipeline
    target_model_id: train_model
  - id: train_model
    type: trainer
    enabled: true
    depends_on:
    - tune_train_model
    - feature_pipeline
    log_artifact: true
    artifact_type: model
    wiring:
      inputs:
        datamodule: prepare_data_datamodule
        features: preprocessed_data
        targets: target_data
      outputs:
        model: final_model
    use_tuned_params: true
    tune_step_id: tune_train_model
  - id: evaluate
    type: evaluator
    enabled: true
    depends_on:
    - train_model
    wiring:
      inputs:
        model: final_model
        datamodule: prepare_data_datamodule
      outputs:
        metrics: evaluation_metrics
  - id: final_profiling
    type: profiling
    enabled: true
    depends_on:
    - train_model
    exclude_keys:
    - cfg
    - preprocessor
    - df
    - train_df
    - val_df
  - id: log_results
    type: logger
    enabled: true
    depends_on:
    - evaluate
