pipeline:
  name: parallel_ensemble_eval
  steps:
  - id: load_data
    type: data_loader
    enabled: true
  - id: init_artifacts
    type: mlflow_loader
    enabled: true
    alias: latest
    load_map:
    - step_id: xgboost_branch
      context_key: fitted_xgboost_branch
    - step_id: catboost_branch
      context_key: fitted_catboost_branch
    - step_id: kmeans_branch
      context_key: fitted_kmeans_branch
    - step_id: preprocess
      context_key: fitted_preprocess
  - id: preprocess
    type: preprocessor
    enabled: true
    log_artifact: true
    artifact_type: preprocess
    depends_on:
    - init_artifacts
    - load_data
    is_train: false
    alias: latest
    instance_key: fitted_preprocess
  - id: xgboost_branch_evaluate
    type: evaluator
    enabled: true
    depends_on:
    - init_artifacts
    - preprocess
    wiring:
      inputs:
        features: preprocessed_data
        model: fitted_xgboost_branch
        targets: target_data
      outputs:
        metrics: xgboost_branch_metrics
  - id: catboost_branch_evaluate
    type: evaluator
    enabled: true
    depends_on:
    - init_artifacts
    - preprocess
    wiring:
      inputs:
        features: preprocessed_data
        model: fitted_catboost_branch
        targets: target_data
      outputs:
        metrics: catboost_branch_metrics
  - id: kmeans_branch_evaluate
    type: evaluator
    enabled: true
    depends_on:
    - init_artifacts
    - preprocess
    wiring:
      inputs:
        features: preprocessed_data
        model: fitted_kmeans_branch
      outputs:
        metrics: kmeans_branch_metrics
    step_eval_type: clustering
  - id: log_results
    type: logger
    enabled: true
    depends_on:
    - xgboost_branch_evaluate
    - catboost_branch_evaluate
    - kmeans_branch_evaluate
