pipeline:
  name: standard_train_serve
  description: 'Training pipeline with profiling: load -> preprocess -> train -> evaluate
    -> profile -> log'
  steps:
  - id: init_artifacts
    type: mlflow_loader
    enabled: true
    alias: latest
    load_map:
    - step_id: train_model
      context_key: train_model_model
    - step_id: preprocess
      context_key: transform_manager
  - id: preprocess
    type: preprocessor
    enabled: true
    log_artifact: true
    artifact_type: preprocess
    depends_on:
    - init_artifacts
    is_train: false
    alias: latest
    instance_key: transform_manager
  - id: train_model_inference
    type: inference
    enabled: true
    depends_on:
    - init_artifacts
    - preprocess
    output_as_feature: false
    wiring:
      inputs:
        model: train_model_model
        features: preprocessed_data
      outputs:
        predictions: train_model_predictions
  - id: final_profiling
    type: profiling
    enabled: true
    depends_on:
    - train_model_inference
    exclude_keys:
    - cfg
    - preprocessor
    - df
    - train_df
    - val_df
    - test_df
