pipeline:
  name: standard_train_tune
  description: 'Training pipeline with profiling: load -> preprocess -> train -> evaluate
    -> profile -> log'
  steps:
  - id: load_data
    type: data_loader
    enabled: true
  - id: preprocess
    type: preprocessor
    enabled: true
    log_artifact: true
    artifact_type: preprocess
    depends_on:
    - load_data
    is_train: true
  - id: prepare_data
    type: datamodule
    depends_on:
    - preprocess
    wiring:
      inputs:
        features: preprocessed_data
        targets: target_data
      outputs:
        datamodule: prepare_data_datamodule
  - id: tune_train_model
    type: tuner
    enabled: true
    depends_on:
    - prepare_data
    target_model_id: train_model
  - id: train_model
    type: trainer
    depends_on:
    - tune_train_model
    - prepare_data
    log_artifact: true
    artifact_type: model
    wiring:
      inputs:
        datamodule: prepare_data_datamodule
      outputs:
        model: train_model_model
    use_tuned_params: true
    tune_step_id: tune_train_model
  - id: evaluate
    type: evaluator
    enabled: true
    depends_on:
    - train_model
    wiring:
      inputs:
        model: train_model_model
        datamodule: prepare_data_datamodule
      outputs:
        metrics: evaluation_metrics
  - id: profiling
    type: profiling
    enabled: true
    depends_on:
    - evaluate
    exclude_keys:
    - cfg
    - preprocessor
    - df
    - train_df
    - val_df
  - id: log_results
    type: logger
    enabled: true
    depends_on:
    - train_model
    - evaluate
    - profiling
