preprocessing:
  steps:
    - name: fill_missing
      method: ffill
    - name: normalize
      method: zscore
  split:
    train: 0.6
    val: 0.2
    test: 0.2
  artifacts_dir: "mlproject/artifacts/preprocessing"
